*, *:before, *:after {
    box-sizing: border-box;
}

.ContactSection {
    text-align: center;
    padding-top:40px;
}

.contact__title {
    font-size: 2.2em;
    color: #E58900;
    padding: 10px;
}

@media only screen and (min-width:992px) {
    .contact__title {
        font-size: 3.2em;
    }
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: .5rem;
    justify-items: center;
    color: #88A200;
    width: 100%;
}