*, *:before, *:after {
    box-sizing: border-box;
}
.DetailLanding {
    width: 100%;    

}
.DetailLanding__header{
    background-COLOR:  rgba(85,56,42,1);
    width: 100%;
    height: 80px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-left:20px;  
}
.header__title{
    color:white;
    font-weight: 600;
}
.DetailLanding__carousel{
    width:100%;
    height: 100vh;
    justify-content: center;
    display:flex;
    flex-direction: column;
}
.detailLanding__carousel-caption{ 
    background-color: rgba(0,0,0,0.75) !important;
}
@media only screen and (min-width: 278px) and (max-width: 430px) {
    .DetailLanding { 
        padding-top:40px;    
    }
    .DetailLanding__header{
        height: 60px;
    }
    .header__title{
        font-size: 1.8em;
    }
}