*, *:before, *:after {
    box-sizing: border-box;
}

.instituionalSection {
    color: white;
    text-align: center;
}

.instituional__title {
    
    font-size: 2.2em;
    color: white;
    position: absolute;
    z-index:10;
    margin:60px 0 20px 0px;
    padding:0px 20px 0 20px;
    align-self: auto;
    width: 100%;
    background-color: rgba(0,0,0,0.2);
}

.institutional__container{
    display: grid;    
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    width: 100%;
    position: relative;
}
.institutional__card{
    background-position: center;
    background-size: cover;
    height: 100vh;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
#card-organization{
    background-image: url("../resources/empresa.jpg");
    
}
#card-catering{
    background-image: url("../resources/catering.jpg");
    
}
.institutional__card-description{
    background-color: rgba(0,0,0,0.85);
    height:300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 5% 0 5%;    
    padding: 5px 10px 5px 10px;
    align-items: center;
}
.institutional__card-title{
    font-size:1.3em;
    font-weight: 600;
    width:100%;
    padding:8px;
    border-bottom: 0.2px solid white;
    margin-bottom: 25px;
}
.institutional__card-text{
    font-size: 1em;
}
.institutional__card__link, .institutional__card__link:visited, .institutional__card__link:hover {
    color:white;
    border-radius: 10px;
    padding:5px;
    text-decoration: none;
    background-color: #01B5B7;
    margin-top:20px;
    width:150px;
  }
@media only screen and (min-width:892px) {
    .instituional__title {
        font-size: 3em;
    }
    .instituional__description {
        font-size: 1.5em;
    }
    .institutional__card-title{
        font-size:1.8em;
    }
    .institutional__card-description{
        height:400px;       
        margin: 0 65px 0 65px;
        padding: 5px 20px 5px 20px;

    }
    .institutional__card-text{
        font-size: 1.2em;
    }
    .institutional__card__link, .institutional__card__link:visited, .institutional__card__link:hover {
        font-size: 1.2em;
        width:250px;
      }
}
@media only screen and (max-width:512px) {
    
    .institutional__card-text{
        font-size: .8em;
    }
    .institutional__card__link, .institutional__card__link:visited, .institutional__card__link:hover {
        margin-top:0;
      }
}
@media only screen and (max-width:400px) {
    .institutional__card-title{
        font-size:1em;
    }
    .institutional__card-description{
        
        margin: 0 1% 0 1%; 
    }
    .institutional__card__link, .institutional__card__link:visited, .institutional__card__link:hover {
        font-size:.72em;
        width:100px;
      }
}