@font-face {
    font-family: 'Dancing Script';
    src: url('DancingScript-Regular.woff2') format('woff2'),
        url('DancingScript-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dancing Script';
    src: url('DancingScript-Bold.woff2') format('woff2'),
        url('DancingScript-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

