*,
*:before,
*:after{
  box-sizing:border-box;
}
.nav-bar {
    display: flex;
    text-align: center;
    justify-content: space-between;
    background-COLOR:  rgba(85,56,42,0);
    width: 100%;
    top: 0;
    overflow: hidden;
    z-index: 1;
    position: fixed;
}

.color{
    background-color:rgb(85, 56, 42);
    text-align: center;
    position: fixed absolute;
}

.nav-item {
    list-style-type: none;
    margin: 10px;
}

.fa-bars {
    color: #fff;
    visibility: hidden;   
}

.nav-item__Link {
    text-decoration: none;
    color: white !important;
    font-family: 'Open Sans';
    font-weight: bold;
    font-style: normal;
    font-size: 0.8em;
    padding: 1em;
    border-radius: 5px;
}
a:hover {
    background-color: #E58900;
}

.nav-item-cont {
    display: flex;
    padding: 0;
}
.logo{
    width: 100%;
}

@media only screen and (min-width: 577px) and (max-width: 992px)
{
    .logo{
        width:auto;
        height:75%;
    }
}
@media only screen and (min-width:993px)
{
    .logo{        
        height:90%;
    }
}


.logo-container {
    align-self: left;
    display: flex;
    left:0;
    box-sizing: border-box;
}

@media only screen and (max-width: 800px) {
    /*shows elements in a column*/
    
    .nav-bar {
        flex-direction: column;        
    }
    .fa-bars {
        visibility: inherit;   
        display: flex;
        margin-left: 52%;
        margin-top:2%;
        padding-bottom:2%;
    }
    .color .nav-item-cont {
        transition: all 1s ease 0.3s;
        opacity: 0;
        transform: translate(0, -100%);
        padding:0;
        background-color:rgb(85, 56, 42);
    }
    .nav-item-cont {
        transition: all 1s ease 0.3s;
        opacity: 0;
        transform: translate(0, -100%);
        padding: 0.5em;
        background-color:rgb(85, 56, 42);
    }
    .nav-item-cont.active {
        display: flex;
        transition: all 0.3s linear;
        opacity: 1;
        transform: translate(0, 0);
        
    }
    .nav-item-cont:not(.active) {
        display: none;
    }
    .logo{
        width:38%;
    }
}

@media only screen and (max-width: 800px) {
    /*shows elements in a column*/
    .nav-item-cont {
        flex-direction: column;
    }
}

.nav-item__Link .activeRoute {
   background-color: green;
    padding:8px;
    border-radius: 10px;
    
}
.nav-item__Link .activeRoute .nav-item-cont {
    visibility: hidden;
     
 }
